@import "../base/helpers.scss";
// .about {
//     min-height: 600px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-content: center;
//     text-align: center;
// }
.features {
    background: $primary;
    color: white;
    margin: 0;
    padding: 50px 0;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join {
    background: url(../images/features.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-icon {
    width: 120px;
}