.jumbotron {
    background: url(../images/header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-heading {
    color: white;
    margin: 0;
}

.header-lead {
    color: white;
}