@import "../base/helpers.scss";
body {
    background: $almost-white;
}

.bg-dark {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav-link:hover {
    cursor: pointer;
}

.navbar,
.navbar p {
    color: white;
}

.login {
    display: flex;
}