.btn {
  background-color: #FE3D3E;
  border-color: #FE3D3E;
  color: white;
  margin: 5px; }

.btn:active,
.btn:hover {
  background-color: #fe7070;
  border-color: #fe7070;
  color: white; }

.material-card {
  background-color: white;
  margin: 20px;
  padding: 20px 30px 30px 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.container {
  padding: 20px 0; }

.btn-section {
  margin-top: 50px; }

.logo {
  width: 150px; }

.loader {
  width: 60px; }

.white-text {
  color: white; }

body {
  background: #FAFAFA; }

.project-meta {
  text-transform: uppercase;
  margin-top: 30px; }

.project-category,
.project-owner {
  color: #9E9E9E; }

.screenshots {
  margin: 20px; }
