@import "../base/helpers.scss";
.project-cards-full {
    min-height: 100vh;
}

.card {
    // position: relative;
    // top: -90px;
    width: 285px;
    margin: 10px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-category {
    text-transform: uppercase;
    color: #9E9E9E;
    font-size: 12px;
    margin-bottom: 0.2em;
}

.follow-icon {
  position: absolute;
  right: 20px;
  top: 10px;
  border: 1px solid #9E9E9E;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 3px 6px #707070, 0 3px 6px #707070;
}

.follow-icon:active {
  transform: translateY(0.10em);
  box-shadow: none;
  transition: 0.25s ease-in-out;
}

.active-icon {
    border-color: #9ecaed;
    box-shadow: none;
    transition: 0.1s ease-in;
}