@import "../base/helpers.scss";
.project-cards-full {
    min-height: 100vh;
}

.card {
    // position: relative;
    // top: -90px;
    width: 285px;
    margin: 10px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-category {
    text-transform: uppercase;
    color: #9E9E9E;
    font-size: 12px;
    margin-bottom: 0.2em;
}