// BOOTSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// VARIABLES AND MIXINS
@import "base/helpers.scss";
// LAYOUT
@import "base/layout.scss";
// FONTS AND TYPOGRAPHY
@import "base/typography.scss";
// // COMPONENTS STYLESHEETS
@import "components/ProjectCard.scss";
@import "components/ProjectInfo.scss";
@import "components/Nav.scss";
@import "components/Header.scss";
@import "components/UserEdit.scss";
@import "components/UserInfo.scss";
@import "components/About.scss";
@import "components/Footer.scss";
@import "components/Categories.scss";
//@import "components/Dashboard.scss";
@import "components/SearchBox.scss";
// MEDIA QUERIES
@import "base/media.scss";