@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
@import "./helpers.scss";

html,
body {
    color: $dark-grey;
    font-family: $font-family;
    color: $dark-grey;
    font-family: $font-family;
    font-weight: $font-weight-light;
    font-size: 100%;
    font-size: 18px;
    height: 100%;
    left: 0;
    line-height: $font-height;
    margin: 0;
    padding: 0;
    top: 0;
    min-width: 100%;
}