html, body {
    width: 100%;
    margin: 0;
    text-align: center;
}
header {
    width: 100%;
    height: 50px;
    background-color: #444;
    color: #fff;
    padding: 5px;
}
a {
    color: inherit;
    text-decoration: none;
}
.title {
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 100px;
    line-height: 50px;
    margin-left: -50px;
    text-align: center;
}
.login {
    display: inline-block;
    position: absolute;
    right: 10px;
    line-height: 50px;
}
.link:hover {
    cursor: pointer;
}

/* Project List View */
.project-list-wrapper {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;

}
.project-card {
    border-radius: 10px;
    background-color: #eee;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 2px #999;
}
.project-card:hover {
    cursor: pointer;
}

/* Project Detail View */
.project-info-card {
    border-radius: 10px;
    background-color: #eee;
    width: 80%;
    height: 500px;
    padding: 20px;
    margin: auto;
    box-shadow: 3px 3px 2px #999;
}
button {
    margin: 20px;
}

/* User Info View */
.user-info-card {
    border-radius: 10px;
    background-color: #eee;
    width: 80%;
    height: 500px;
    padding: 20px;
    margin: auto;
    box-shadow: 3px 3px 2px #999;
}